.body{
    color: #babecc;
    text-shadow: 1px 1px 1px #fff;
    width: 100%;
    display: flex;
    background-color: #ebecf0;
}
.Nav{
    display: flex;
    align-items: center;
    width: 90%;
    margin-right: 20px;
}
.button{
  font-family: "Montserrat", sans-serif;
  letter-spacing: -0.2px;
  font-size: 16px;
  border: 0;
  outline: 0;
  font-size: 16px;
  border-radius: 320px;
  padding: 16px;
  background-color: #ebecf0;
  text-shadow: 1px 1px 0 #fff;
  border-radius: 8px;
  width: 90px;
  height: 60px;
  margin: 30px 30px;
  color: #61677c;
  font-weight: bold;
  box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;

}
.segment {
  padding: 1px 0;

}
.Search{
  width: 20rem;
  align-items: flex-start;
  color: #babecc;
  border: 0;
  outline: 0;
  font-size: 16px;
  border-radius: 320px;
  padding: 16px;
  background-color: #ebecf0;
  text-shadow: 1px 1px 0 #fff;
  box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
  transition: all 0.2s ease-in-out;
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
}

.Search:focus {
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}
.button:hover {
  box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
}
.button:active {
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}
.Appicon{
    width: 10%;
    margin-left: 1%;
}
.Logo{
  height: 50%;
  width: 50%;
}
.select{
  margin-right: 20%;
  font-family: "Montserrat", sans-serif;
  letter-spacing: -0.2px;
  font-size: 16px;
  border: 0;
  outline: 0;
  font-size: 16px;
  border-radius: 320px;
  padding: 16px;
  background-color: #ebecf0;
  text-shadow: 1px 1px 0 #fff;
  border-radius: 8px;
  width: 20rem;
  height: 50px;
  margin: 10px 10px;
  color: #babecc;
  font-weight: bold;
  box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;
  align-items: center;
}
.select:hover {
  box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
}
.select:active {
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}